# Ejemplo de variables de entorno para proyecto ServiMeet.
# Copia este archivo en un ".env" y rellena los valores reales.
# Este archivo no puede subirse a tu repositorio.

PORT=3000
DATABASE_URL="mysql://servimeet_user:TU_CONTRASEÑA@localhost:3306/servimeet_dev"
JWT_SECRET="FRASE_SECRETA_AQUI"

DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_USER="servimeet_user"
DATABASE_PASSWORD="TU_PASSWORD"
DATABASE_NAME="servimeet_dev"

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret